@mixin centered-card($background, $color) {
  background: $background;
  border-radius: 5px;
  border: 10px solid $color;
  box-shadow: 5px 2px 2px 0 rgba(0,0,0,0.50);
  margin: auto;
  width: 80%;
  font-size: 100%;
}

