@import 'normalize';
@import 'colors';
@import 'modal';
@import 'nav';
@import 'centered_card';
@import 'debug';


html,
body {
  margin: 0;
  padding: 0;
}

/* use viewport-relative units to cover page fully */
body {
  height: 100vh;
  width: 100vw;
}

// region Auth
#registration-wrapper {
  @include centered-card($color6, $color3);
}
#password-reset-wrapper {
  @include centered-card($color6, $color3);
}
#password-reset-request-wrapper {
  @include centered-card($color6, $color3);
}
#login-wrapper {
  @include centered-card($color6, $color3);
}
#change-pass-wrapper {
  @include centered-card($color6, $color3);
}
// endregion
